Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/install-sh
/stamp-h?
Makefile
.deps/
.dirstamp
/src/cppsme
/test/adder
/test/ring
/test/ring.cc
callgrind.out*
*.o
*~
/config/
m4/lt*
m4/libtool.m4
aclocal.m4
ltmain.sh
app.info
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
depcomp
libtool
missing
stamp-h1
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.libs
*.tar*
*.zip
*.lo
*.gcno
*.gcda